GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_CALENDAR_ID=

DATABASE_URL=

JWT_SECRET=
APP_BASE_URL=
FRONTEND_URL=
BACKEND_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
